src/main/mule/job_mail1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bb8e723b-8454-491b-a817-3845f3034811" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="09de845a-8272-41a3-94c1-f25644ae4a70" >
		<email:smtp-connection host="smtp.gmail.com" port="465" user="koladowla705@gmail.com" password="cylf ezwr gbqa tykn" >
			<email:properties >
				<email:property key="mail.smtp.ssl.trust" value="smtp.gmail.com" />
				<email:property key="mail.smtp.ssl.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="job_mail1Flow" doc:id="154790fa-6401-4d78-a8f9-2306e2163454" >
		<http:listener doc:name="Listener" doc:id="080e231c-ba25-47cd-ba7e-ff14565128f0" config-ref="HTTP_Listener_config" path="/job"/>
		<logger level="INFO" doc:name="Logger" doc:id="dba07b1d-6d5d-4490-beb9-393a5ff489f0" message='"start logger"'/>
		<http:request doc:name="Request" doc:id="a9c960f7-cb29-4d8e-b680-82bf4c3436b3" url="https://api.github.com/repos/DowlaTitan/job/contents/Dowla%20Mulesoft%20Resume.pdf">
			<http:headers ><![CDATA[#[%dw 2.0
output application/java
---
{
  "Accept" : "application/vnd.github.v3.raw"
}]]]></http:headers>
		</http:request>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="6330139d-e1e4-454b-b19c-437f92cc6942" variableName="Resume "/>
		<http:request doc:name="Request" doc:id="92f536ef-8c68-4561-abb2-fd997163461f" url="https://api.github.com/repos/DowlaTitan/job/contents/email_Id">
			<http:headers ><![CDATA[#[%dw 2.0
output application/java
---
{
  "Accept" : "application/vnd.github.v3.raw"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="46545e2e-7e28-4fd3-9f5b-6c649d4b8d1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload splitBy "," map trim($)) map { email: $ }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="3d6d0537-828a-4dce-9972-3ed5bfd22f85" variableName="Email_ID"/>
		<choice doc:name="Choice" doc:id="2519faa3-c140-46cb-aa81-8d0fb20e0fd7" >
			<when expression='#[sizeOf((vars.Email_ID[0].email default "") as String) &gt; 16]'>
				<until-successful maxRetries="5" doc:name="Until Successful" doc:id="2ceb76f2-a6e4-4285-a61c-e3849f307238" millisBetweenRetries="20000">
					<foreach doc:name="For Each" doc:id="a2a60dd6-6af9-493a-805b-319edc524a32" >
						<logger level="INFO" doc:name="Logger" doc:id="96cec42d-9720-4fe8-99bb-ff6918240591" message="#[payload.email]"/>
						<email:send doc:id="695cf5c4-0adb-42bf-b938-1bb1534b42cd" fromAddress="koladowla705@gmail.com" subject='Application for Mulesoft Developer' config-ref="Email_SMTP">
							<email:to-addresses >
								<email:to-address value="#[payload.email]" />
							</email:to-addresses>
							<email:body >
								<email:content ><![CDATA[First Name: Dowla
Last Name: Kola
Date of Birth: 15/08/2001
Contact Number: 9901135654
Total Experience: 3.9 years
Relevant Experience: 3.9 years
Current CTC: 8LPA
Expected CTC: 13LPA
Current Location: Bangalore
Preferred Location: Bangalore, Hyderabad 
Current Organization: YOULOGIX INFOTECH PRIVATE LIMITED
Notice period: Immediate Joiner]]></email:content>
							</email:body>
							<email:attachments ><![CDATA[#[%dw 2.0
output application/java
---
{
    "Dowla Mulesoft Resume.pdf": vars.Resume
}]]]></email:attachments>
						</email:send>
					</foreach>
				</until-successful>
			</when>
			<otherwise >
				<email:send doc:name="Send" doc:id="9cc2722e-2175-4b45-891f-47880a70a41a" fromAddress="koladowla705@gmail.com" subject="No mailId" config-ref="Email_SMTP">
					<email:to-addresses >
						<email:to-address value="koladowla@gmail.com" />
					</email:to-addresses>
				</email:send>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="72ceda9c-bb61-4866-b201-82fe29953751" >
				<email:send doc:name="Send" doc:id="8bf535a6-9193-4c7f-b03a-ca752ad7794e" fromAddress="koladowla705@gmail.com" subject="Error occured" config-ref="Email_SMTP">
					<email:to-addresses >
						<email:to-address value="koladowla@gmail.com" />
					</email:to-addresses>
				</email:send>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
